---
import "../styles/global.css";

const { title, description } = Astro.props;
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Primary description -->
    <meta name="description" content={description} />

    <!-- (optional) Social mirrors -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
  </head>
  <body class="bg-card flex min-h-screen flex-col items-start justify-start">
    <slot />
  </body>
</html>
